version: "3.8"

services:
  db:
    image: postgres:15
    container_name: scheduler-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root123
      POSTGRES_DB: scheduler
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: scheduler-backend
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: scheduler-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  pgdata:
