services:
  db:
    image: postgres:15
    container_name: scheduler-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root123
      POSTGRES_DB: scheduler
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: scheduler-backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: root123
      DB_NAME: scheduler
      DB_PORT: 5432

  frontend:
    build: ./frontend
    container_name: scheduler-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  pgdata:
